@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  /* General */
  --card-radius: 0.5rem;
  --card-gap: 2rem;
  --info-gap: 1rem;
  --card-padding: 1.5rem;
  --vert-biased-padding: 1.5rem 3rem;
  --card-bg: white;
  --card-border: 2px solid #dfe0eb;
  --pic-radius: 50%;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-large: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Avatars */
  --avatar1: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/ad7261133478775.61be78b5305fc.jpg);
  --avatar2: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/06fbe298931623.5ee79b6a90221.jpg);
  --avatar3: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/2e80bb98931623.5ee79b6a8f342.jpg);
  --avatar4: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/8394f798931623.5ee79b6a909ea.jpg);
  --avatar5: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/baa20698931623.5ee79b6a8ec2b.jpg);

  list-style: none;
}

/* Semi-global values */

body {
  background-color: #e9f3ff;
  font-family: "Fira Sans", sans-serif;
}

button {
  color: white;
  background-color: #6288f7;
  border: none;
  border-radius: var(--card-radius);
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  cursor: pointer;
}

.pic {
  background: var(--avatar1) center center / cover no-repeat;
  width: 75px;
  height: 75px;
  border-radius: var(--pic-radius);
}

.pic-small {
  background: var(--avatar1) center center / cover no-repeat;
  width: 45px;
  height: 45px;
  border-radius: var(--pic-radius);
}

.pic-small-1 {
  background: var(--avatar2) center center / cover no-repeat;
  width: 45px;
  height: 45px;
  border-radius: var(--pic-radius);
}

.pic-small-2 {
  background: var(--avatar3) center center / cover no-repeat;
  width: 45px;
  height: 45px;
  border-radius: var(--pic-radius);
}

.pic-small-3 {
  background: var(--avatar4) center center / cover no-repeat;
  width: 45px;
  height: 45px;
  border-radius: var(--pic-radius);
}

.pic-small-4 {
  background: var(--avatar5) center center / cover no-repeat;
  width: 45px;
  height: 45px;
  border-radius: var(--pic-radius);
}

.title {
  margin: 0;
  font-weight: bold;
}

.sectTitle {
  margin: 0 0 0.8rem 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
}

/* NOT WORKING */

hr {
  color: #e7e5e4;
  margin-bottom: 0px;
}

/* Local */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 5fr;
}

/* HEADER */

.header {
  grid-area: 1 / 2 / 2 / 3;

  padding: var(--vert-biased-padding);
  background-color: var(--card-bg);
  box-shadow: var(--shadow-large);
}

.header i {
  font-size: 1.2rem;
}

.headerTop {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.fa-magnifying-glass {
  margin: 0 1.2rem 0 1.2rem;
}

#search {
  border-radius: 99px;
  border: none;
  background-color: #e9f3ff;
  padding: 0.75em 2em;
  width: 40vw;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.greeting {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.greet1 {
  margin: 0 0 0.8rem 0;
  font-weight: 800;
}

.greet2 {
  font-size: 1.5rem;
  margin: 0%;
  font-weight: 900;
}

.btn {
  display: flex;
  gap: 0.8rem;
}

/* SIDEBAR */

.sidebar {
  /* Dashboard grid */
  grid-area: 1 / 1 / 3 / 2;
  background-color: #101a33;
  color: aliceblue;

  /* Content grid */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

.branding {
  background-color: #1a2342;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--card-padding);
}

.logo {
  margin-right: 1.2rem;
  width: 40px;
}

.branding .sectTitle {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.nav {
  padding: var(--card-padding);
  justify-content: center;
}

.navMain,
.navMisc {
  padding: 0;
  margin: 0 0 0 1.2rem;
}

.navMisc {
  margin-top: 3.5rem;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar i {
  min-width: 30px;
  font-size: 1.5rem;
}

.sidebar p {
  margin-left: 1rem;
}

/* MAIN CONTENT */

.main-content {
  /* Dashboard grid */
  grid-area: 2 / 2 / 3 / 3;

  /* Content grid */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content 1fr;
}

/* PROJECTS */

.projects {
  grid-area: 1 / 1 / 3 / 2;

  margin: var(--card-gap);
}

.projContainer {
  display: grid;
  gap: var(--card-gap);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
}

.projCard {
  border: var(--card-border);
  border-radius: var(--card-radius);
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
  padding: var(--card-padding);

  display: flex;
  flex-direction: column;
}

.projCard .title {
  font-size: 1.2rem;
}

.actions {
  font-size: 1.2rem;

  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-top: auto;
}

/* BULLETIN */

.bulletin {
  margin: var(--card-gap);
  margin-left: 0;
}

.announceCard {
  border: var(--card-border);
  border-radius: var(--card-radius);
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
}

.announcePara {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

/* TRENDING */

.trending {
  margin: 0 2rem 2rem 0;
}

.trendCard {
  grid-area: 2 / 2 / 3 / 3;

  border: var(--card-border);
  border-radius: var(--card-radius);
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
  padding: var(--card-gap);
}

.trendPara {
  display: flex;
  align-items: center;
  gap: var(--info-gap);
}

.trendPara + .trendPara {
  margin-top: 1.5rem;
}

.account {
  font-size: 0.9rem;
}

.account p:nth-child(2) {
  margin: 0.5rem 0 0 0;
}
