* {
  border: 1px solid;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  gap: 5px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.btn {
  background-color: #6288f7;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #101a33;
  color: aliceblue;
}

.main-content {
  /* Dashboard grid */
  grid-area: 2 / 2 / 3 / 3;

  /* Content grid */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
}

.bulletin {
  grid-area: 1 / 2 / 2 / 3;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
}
